* {
  font-family: arial;
  padding: 0; margin: 0;
}

body {
  background: linear-gradient(#fff, lightblue);
  padding-bottom: 4em;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
} header > article {
  padding: 0 4em;
}

main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4em;
  padding-bottom: 4em;
  margin-top: 2em;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0; left: 0;
  padding: 2em 0;
  width: 100%;
  background: transparent;
}

article > section {
  display: flex;
  justify-content: space-between;
}

button {
  background: inherit;
  color: white;
  border: none;
  padding: 1em;
  cursor: pointer;
}

a {
  padding: 0.5em;
  border: 2px solid orange;
  border-radius: 25px;
}

.cuadrado {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 280px;
  padding: 2em;
}

.azul {
  background: lightblue;
  z-index: 1;
}

.verde {
  background: lightgreen;
  z-index: 2;
}

.naranja {
  background: orange;
  z-index: 3;
}
