/*
1ra sección: :root
2da sección: *
3ra sección: IDs
4ta sección: clases
5ta sección: tags
*/

:root {
  --Julius: 'Julius Sans One', sans-serif;
  --Montserrat: 'Montserrat', sans-serif;
  --Dancing: 'Dancing Script', cursive;
  --Rock: 'Rock Salt', cursive;

  --lightorange: #ffc87c;
  --darkorange: #ff7327;
}

* {
  padding: 0; margin: 0;
}

#about_me {
  background: url('/mmedia/images/mountains.jpg') no-repeat center/cover;
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  margin-bottom: 2em;
} #about_me > section {
  padding: 4em 0;
} #about_me > section > button, #subscribe {
  color: #fff;
  cursor: pointer;
  background: orange;
  border: none;
  transition: background 0.5s;
  padding: 1em 2em;
  font-size: 15px;
} #about_me > section > button:hover, #subscribe:hover {
  background: var(--darkorange);
}

#aboutMe {
  font-family: arial;
  text-align: justify;
  color: white;
  background: rgb(255, 255, 255, 0.1);
  border: 3px solid #fff;
  border-radius: 10px;
  text-indent: 2em;
  font-size: 18px;
  padding: 4em;
  margin: 1em 25%;
  width: 50%;
} #aboutMe > p {
  padding: 1em 4em;
}

#my_habilities, #my_virtues {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} #my_habilities > section, #my_virtues > section {
  display: flex;
  justify-content: space-between;
} #my_habilities > section > h2, #my_virtues > section > h2 {
  font-family: var(--Montserrat);
  padding: 1em 2em;
} #my_habilities > section > div, #my_virtues > section > div {
  font-family: var(--Montserrat);
  text-align: center;
  padding: 1em 2em;
  width: 33.3%;
} #my_habilities > section > div > h2, #my_virtues > section > div > h2 {
  padding: 1em 0;
} #my_virtues > section > div > p {
  text-align: justify;
  text-indent: 2em;
  padding-bottom: 1em;
}

#formulary {
  background: url('/mmedia/images/mountains.jpg') no-repeat center/cover;
} #formulary > article > form {
  width: 50%;
} #formulary > article > form > fieldset {
  display: flex;
  flex-direction: column;
  border: 10px solid orange;
  border-style: none none none solid;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 4em;
  margin: 4em;
} #formulary > article > form > fieldset > input {
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  border: 1px solid lightgray;
  border-radius: 10px;
}

#sections {
  padding: 0 2em;
} #sections > a {
  padding: 0 1em;
}

#author {
  padding: 0 4em;
}

.logo {
  font-family: var(--Dancing);
  padding: 0 4em;
}

.author {
  font-family: var(--Julius);
  padding: 0 4em;
}

.lightgreen {
  border-top: 10px solid lightgreen;
}

.lightblue {
  border-top: 10px solid lightblue;
}

.orange {
  border-top: 10px solid orange;
}

.transition {
  transition: 1s;
}

.hidden {
  display: none;
}

.error {
  font-family: var(--Montserrat);
  text-align: center;
  border: 1px solid red;
  font-size: 14px;
  background: #ff9999;
  padding: 1em;
}

.cursive {
  font-style: italic;
}

main {
  padding: 4em 0;
} main > article {
  text-align: center;
  padding: 4em;
}

header, footer {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2em 0;
} header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--Montserrat);
}

i {
  font-size: 25px;
}
